# Ignore everything
*

# But not these files...
!.gitignore
!*.py
!*.ipynb
#Exclude specific_folder from being ignored
!CAR COUNTER/
!DATASETS FOR FUN/
!DCAI/
!JAX BOOK/
!KAGGLE FULL THROTTLE/
!TIMESERIESBOOK/
!KAGGLE FULL THROTTLE\DATATHONE/
!KAGGLE FULL THROTTLE\isic-2024-challenge skin cancer competition/
!KAGGLE FULL THROTTLE\KAGGLE ENEFIT/
!KAGGLE FULL THROTTLE\KAGGLE HMS/
!KAGGLE FULL THROTTLE\isic-2024-challenge skin cancer competition/
!KAGGLE FULL THROTTLE\kaggle multiclass obesity risk classification/
!KAGGLE FULL THROTTLE\playground-series-s3e26/
!KAGGLE FULL THROTTLE\playground-series-s4e6/


# Re-ignore everything inside specific_folder
CAR COUNTER/*
DATASETS FOR FUN/*
DCAI/*
JAX BOOK/*
KAGGLE FULL THROTTLE/*
TIMESERIESBOOK/*
KAGGLE FULL THROTTLE\DATATHONE/*
KAGGLE FULL THROTTLE\isic-2024-challenge skin cancer competition/*
KAGGLE FULL THROTTLE\KAGGLE ENEFIT/*
KAGGLE FULL THROTTLE\KAGGLE HMS/*
KAGGLE FULL THROTTLE\kaggle multiclass obesity risk classification/*
KAGGLE FULL THROTTLE\playground-series-s3e26/*
KAGGLE FULL THROTTLE\playground-series-s4e6/*



# But not .py and .ipynb files within specific_folder
!CAR COUNTER/*.py
!CAR COUNTER/*.ipynb
!DATASETS FOR FUN/*.py
!DATASETS FOR FUN/*.ipynb
!DCAI/*.py
!DCAI/*.ipynb
!JAX BOOK/*.py
!JAX BOOK/*.ipynb
!KAGGLE FULL THROTTLE/*.py
!KAGGLE FULL THROTTLE/*.ipynb
!TIMESERIESBOOK/*.py
!TIMESERIESBOOK/*.ipynb
!KAGGLE FULL THROTTLE\DATATHONE/*.py
!KAGGLE FULL THROTTLE\DATATHONE/*.ipynb
!KAGGLE FULL THROTTLE\isic-2024-challenge skin cancer competition/*.py
!KAGGLE FULL THROTTLE\isic-2024-challenge skin cancer competition/*.ipynb
!KAGGLE FULL THROTTLE\KAGGLE ENEFIT/*.py
!KAGGLE FULL THROTTLE\KAGGLE ENEFIT/*.ipynb
!KAGGLE FULL THROTTLE\KAGGLE HMS/*.py
!KAGGLE FULL THROTTLE\KAGGLE HMS/*.ipynb
!KAGGLE FULL THROTTLE\kaggle multiclass obesity risk classification/*.py
!KAGGLE FULL THROTTLE\kaggle multiclass obesity risk classification/*.ipynb
!KAGGLE FULL THROTTLE\playground-series-s3e26/*.py
!KAGGLE FULL THROTTLE\playground-series-s3e26/*.ipynb
!KAGGLE FULL THROTTLE\playground-series-s4e6/*.py
!KAGGLE FULL THROTTLE\playground-series-s4e6/*.ipynb
